@font-face{
    font-family: "Lexend Deca";
    src:url("font/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
}
html{

    scrollbar-width: thin;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #836339;
    font-family: "Lexend Deca";
    background-color: rgb(255, 255, 251);
}
main{
    width: 90%;
    margin:auto;
    margin-bottom: 25px;
}
nav{
    width: 100%;
    min-height: 50px;
    background-color: #8f0413;
    color:white;
    transition: height 0.2s;
    transition-delay: 0.2s;
}
nav>div{
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    justify-content:space-around;
    
}
button{
    display:none;
    background-color: transparent;
    border:none;
    color:white;
    font-size: 100%;
}
footer{
    background-color: #8f0413;
    color:#836339;
}
footer>*{
    margin: 0;

}
footer>ul>li>a{
    color: #836339;
    transition: color 0.2s;
}
footer>ul>li>a:hover{
    color: white;
}
header{
    background-color: #1b5e38;
    display:flex;
    align-items: center;
}
header img{
    margin: 0;
    padding:50px;
    width: 25%;
    margin:auto;
}
nav>div>p>a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition: all 0.2s;
}

nav>div>p>a:hover{
    color: #836339;
    text-shadow: darkgray 0 0 0.5px;
}
.imageover{
    height:300px;
    width: 300px;
}
.flex{
    display:flex;
    flex-flow:row wrap;
    margin:auto;
    margin-top: 1%;
    justify-content: space-between;
}
#flexCim{
    margin:auto;
}
.imageover{
    position: relative;
    overflow: hidden;
}
.imageover>img{
    width: 100%;
    filter:blur(2px);
    transition: filter 0.2s;
}
.imageover>div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position:absolute;
    top: 0%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}
.imageover>div>a{
    color:white;
    font-size: larger;
    transition:font-size 0.2s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}
.imageover:hover img{
    filter:blur(0px);
}
.imageover:hover div>a{
    font-size: xx-large;

}
.imageover:hover div{
    background-color: rgba(0, 0, 0, 0.75);
}
.a1, .a2, .a3, .a4, .a5{
    display:none;
    opacity:0%;
    transition: opacity 0.3s;
}
#jelenlegi{
    text-decoration: underline;
    color:#836339;
}
ul>li {
    list-style: none;
    vertical-align: middle;
}
ul>li::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: cover;
    background-image: url('../img/poni.png');
}
span>i{
    float:right;
    transition: transform 0.2s;
    cursor: pointer;
}
hr{
    background-color:#8f0413;
    color:#8f0413;
}
span{
    font-size:larger;
    font-weight: bold;
}
@media screen and (max-width:679px){
    header img{
        width: 90%;
        padding:10px;
    }
    nav>div{
        height: 0;
        flex-flow:column wrap;
        display:none;
        padding-bottom: 5px;
    }
    nav>div>p{
        padding:5px;
        border-bottom: #1b5e38 1px solid;
        width: calc(98% - 10px);
        margin-left:5px;
        font-size: large;
    }
    nav>div #jelenlegi{
        text-decoration: none;
    }
    .flex{
        flex-flow: column;
    }
    .imageover{
        margin:auto;
        margin-top: 5px;
        width: 40% !important;
        height: auto !important;
    }
    button{
        display:block;
        height: 50px;
        width:100%;
    }
}
@media screen and (max-width:762px){
    header img{
        width: 50%;
    }
    
}
@media screen and (max-width:1000px){
    .imageover{
        width: 200px;
        height: 200px;
    }
}
.container_flex_tv_internet{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    margin:auto;
}
.qanda{
    margin-bottom: 300px;
}
.container_flex_tv_internet>div>h3, .container_flex_tv_internet>div>p{
    border-bottom:#836339 2px solid;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
}
.container_flex_tv_internet>div{
    width: 25%;
    margin-top: 40px;
    margin-bottom: 150px;
    min-width: 300px;
    background-color: #1b5e38;
    border-radius: 15px;
    color:white;
}
.question{
    cursor: pointer;
}
